<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Extension Options</title>
</head>
<body>
<label for="fromLanguage">From:</label>

<select name="languages" id="fromLanguage">
</select>

<label for="toLanguage">To:</label>

<select name="languages" id="toLanguage">
</select>

<div id="status"></div>
<button id="save">Save</button>
<!--<script>-->
<!--    document.title = chrome.i18n.getMessage("extOptionsTitle");-->
<!--    document.documentElement.lang = chrome.i18n.getUILanguage();-->
<!--</script>-->
<script type="module" src="index.js"></script>
</body>
</html>
