<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<form id="searchForm" class="form-wrapper">
    <label for="search" hidden>Search</label>
    <input type="text" id="search" placeholder="Search for..." required>
    <button type="submit" id="submit">go</button>
</form>
<button id="options">GO SETTINGS</button>
<button id="open">OPEN NEW TAB</button>
<iframe src="https://www.wordreference.com" ></iframe>
<script type="module" src="index.js"></script>
</body>
</html>
